<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body> 
    <p>
     <h3> You have Landed to the Home page</h3>
    </p>
   <a href="test"> <button>click me to get test page</button></a>
  </body>
</html>